<iframe id="mapa"src="https://optimen01.users.earthengine.app/view/proyectomapsoptimen">
</iframe>

<div id="contenedor_carga">
<div class="spinner-grow text-primary" role="status" id="carga">
  <span class="visually-hidden">Loading...</span>
</div>
</div>
<script>
    window.onload= function(){
        var contenedor = document.getElementById('contenedor_carga');
            carga.style.visibility='hidden';
            carga.style.opacity='0';
  
    }
</script>