<div class="jumbotron mt-4" id="fondoin">
  <h1 class="display-4">Maps with Google Earth</h1>
  <p class="lead" id="par" >Herramienta ideal para el uso agricola con varias funcionalidades como:
    <!--<ul>
      <li>Medición del area del poligono</li>
      <li>Mapa vegetación</li>
      <li>Mayor control acerca de su espacio y el uso que usted le da</li>
      <li>Medición de su espacio en su propiedad</li>
      
    </ul>-->
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="/img/poligonos.jpg" class="card-img-top" alt="...">
      <div id="tar"class="card-body">
        <h5 class="card-title">Medición del area del poligono</h5>
        <p class="card-text">Gracias a la ayuda de Google Earth es posible medir su terreno asi como obtener el area que este ocupa 
          delimitandola con ayuda del dibujo por poligonos.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/img/indices.jpg" class="card-img-top" alt="...">
      <div id="tar" class="card-body">
        <h5 class="card-title">Mapa vegetación</h5>
        <p class="card-text">Esta Página cuenta con 2 colecciones que se pueden implementar para ver claramente diferentes indices de vegetación como el 
          ndvi, ndwi y una vista natural rgb. 
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/img/control.jpg" class="card-img-top" alt="...">
      <div id="tar" class="card-body">
        <h5 class="card-title">Mayor control acerca de su espacio y el uso que usted le da</h5>
        <p class="card-text">Gracias a la herramienta de selector de poligonos es posible calcular cuanto material se puede ocupar para su espacio de trabajo por lo 
          que resultara mas facil y con menos trabajo esta tarea.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/img/download.jpg" class="card-img-top" alt="...">
      <div id="tar" class="card-body">
        <h5 class="card-title">Descarga del poligono seleccionado</h5>
        <p class="card-text">Al momento que usted dibuje el poligono en el mapa aparecera la opción de descarga 
          la cual sera muy util ya que solamente descargara el poligono seleccionado en un formato
          GeoTIFF, el cual es un formato ideal para ser trabajado en varios softwares SIG.
        </p>
      </div>
    </div>
  </div>
</div>
  </p>
 <hr class="my-4">

  
<div class="d-grid gap2">

</div>
</div>
